<!DOCTYPE html>
<html lang="mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TermoUP</title>
    {{!-- BOOTSTRAP CDN --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="icon" type="t.png" href="t.png"/>
</head>

<body>
    <div class="container p-4">
        <div class="row">       
            <div class="container">
                
                <div style="background:background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 100%);">
                 <div >
                    <img style="align-content: center;" src="t.png" class="rounded float-left"  width="50px" height="50px">
                    <h1 style="color: white; font: bold; font-size: 50px; font-style: italic; height: 35px;">TermoUP</h1>
                        </div>
                    </div>
                    
                </div>
            {{{ body }}}
        </div>
    </div>
</body>

</html>